name: Test

on:
  - push
  - pull_request

jobs:
  in-place:
    name: "In-place test: Ruby ${{ matrix.ruby-version }}: ${{ matrix.runs-on }}"
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - 2.5
          - 2.6
          - 2.7
          - '3.0'
          - debug
        runs-on:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        exclude:
          - { runs-on: windows-latest , ruby-version: '3.0' }
          - { runs-on: windows-latest , ruby-version: debug }
        include:
          - { runs-on: windows-latest , ruby-version: mingw }
          - { runs-on: windows-latest , ruby-version: mswin }
    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: Test
        run: |
          bundle exec rake

  scanner:
    name: "Scanner test: Ruby ${{ matrix.ruby-version }}: ${{ matrix.runs-on }}"
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - '3.0'
          - 2.7
          - debug
        runs-on:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        exclude:
          - { runs-on: windows-latest , ruby-version: '3.0' }
          - { runs-on: windows-latest , ruby-version: debug }
        include:
          - { runs-on: windows-latest , ruby-version: mingw }
          - { runs-on: windows-latest , ruby-version: mswin }
    runs-on: ${{ matrix.runs-on }}
    env:
      CSV_PARSER_SCANNER_TEST: "yes"
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: Test
        run: |
          bundle exec rake

  gem:
    name: "Gem test"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - name: Install
        run: |
          rake install
          gem install test-unit
      - name: Test
        run: |
          mkdir -p tmp
          cd tmp
          cp -a ../test/ ./
          ../run-test.rb

  document:
    name: "Document test"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
          bundler-cache: true
      - name: Build document
        run: |
          bundle exec rake warning:error rdoc
      - uses: actions/checkout@v2
        if: |
          github.event_name == 'push'
        with:
          ref: gh-pages
          path: gh-pages
      - name: Deploy
        if: |
          github.event_name == 'push'
        run: |
          rm html/created.rid
          touch html/.nojekyll
          cd gh-pages
          rsync \
            -a \
            --delete \
            --exclude "/.git/" \
            ../html/ \
            ./
          if [ "$(git status --porcelain)" != "" ]; then
            git add --all
            git config user.name "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"
            git commit -m "Generate (${GITHUB_SHA})"
            git push
          fi
